@use "../abstracts/variables" as variables;

$colors: (
    'brand-primary': (
        hue-saturation: (variables.$brand-primary),
        shades: (
            100: 90%,
            200: 82%,
            300: 75%,
            400: 67%,
            500: 40%
        )
    ),
    'brand-secondary': (
        hue-saturation: (variables.$brand-secondary),
        shades: (
            100: 68%,
            200: 50%,
            300: 30%,
            400: 22%,
            500: 14%          
        )
    ),
    'brand-third': (
        hue-saturation: (variables.$brand-third),
        shades: (
            100: 82%,
            200: 66%,
            300: 50%,
            400: 34%,
            500: 28%,
            600: 20%
        )
    ),
    'brand-fourth': (
        hue-saturation: (variables.$brand-fourth),
        shades: (
            100: 75%,
            200: 67%,
            300: 59%,
            400: 46%,
            500: 28%
        )
    ),
    'grey': (
        hue-saturation: (variables.$grey),
        shades: (
            50: 98%,
            100: 94%,
            200: 90%,
            300: 82%,
            400: 72%,
            500: 64%,
            600: 48%,
            700: 40%,
            800: 32%,
            900: 16%,
            1000: 10%,
        )
    ),
    'blue': (
        hue-saturation: (variables.$blue),
        shades: (
            100: 92%,
            200: 80%, // 100
            300: 72%, 
            400: 66%, // 200
            500: 54%,
            600: 48%, // 300
            700: 32%, // 400
            800: 24%,
            900: 16%, // 500
            1000: 8%
        )
    ),
    'green': (
        hue-saturation: (variables.$green),
        shades: (
            100: 66%,
            200: 52%,
            300: 42%,
            400: 32%,
            500: 16%
        )
    ),
    'orange': (
        hue-saturation: (variables.$orange),
        shades: (
            100: 82%,
            200: 64%,
            300: 52%,
            400: 42%,
            500: 28%
        )
    ),
    'red': (
        hue-saturation: (variables.$red),
        shades: (
            100: 88%,
            200: 74%,
            300: 68%,
            400: 48%,
            500: 32%
        )
    )
);

// CSS variables in :root
:root {
    @each $color, $data in $colors {
        $hue-saturation: map-get($data, hue-saturation);
        $shades: map-get($data, shades);
        $hue: nth($hue-saturation, 1);
        $saturation: nth($hue-saturation, 2);
        --#{$color}: #{$hue} #{$saturation};
        
        @each $shade, $lightness in $shades {
            --#{$color}-#{$shade}: hsl(#{$hue}, #{$saturation}, #{$lightness});
        }
    }
}

// txt, bg and fill classes
@each $color, $data in $colors {
    $shades: map-get($data, shades);

    @each $shade, $lightness in $shades {
        .txt-#{$color}-#{$shade} {
            color: var(--#{$color}-#{$shade});
        }
        .bg-#{$color}-#{$shade} {
            background-color: var(--#{$color}-#{$shade});
        }
        .fill-#{$color}-#{$shade} {
            fill: var(--#{$color}-#{$shade});
        }
    }
}