@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.footer{
    display: flex;
    > div{
        @include mixins.flex(row, flex-start, space-between);
        padding-block: variables.spacing(6);
    }
    hr{
        border-width: 1px;
        border-color: var(--brand-secondary-200);
        + span{
            padding-block: variables.spacing(3);
        }
    }
    @media screen and (width > variables.$small) {
        
    }
}