@use "../abstracts/index" as abstracts;
@use "../abstracts/variables" as variables;


fieldset{
    position: relative;
    padding: 0;
    padding-bottom: variables.spacing(2);
    border: none;
}
.label{
    display: block;
    margin-bottom: variables.spacing(1);
    font-size: 1.32rem;
    font-weight: 600;
    color: var(--brand-secondary-400);
}
.warning{
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.08rem;
    line-height: 0.8;
    font-weight: 600;
    color: var(--red-400);
    text-align: right;
    visibility: hidden;
}
.input{
    width: 100%;
    padding-block: variables.spacing(1);
    padding-inline: variables.spacing("1-5") variables.spacing(2);
    background-color: var(--brand-primary-100);
    background-repeat: no-repeat;
    background-position: variables.spacing(2) center;
    background-size: 20px;
    border: solid 1px var(--brand-secondary-200);
    box-shadow: 0 2px 0 0 var(--brand-secondary-200);
    font-size: 1.6rem;
    &[type=text]{
        background-size: 16px;
        padding-left: 4.4rem;
        background-image: url(/images/user.svg);
    }
    &[type=email]{
        padding-left: 4.4rem;
        background-image: url(/images/mail.svg);
    }
    &[type=tel]{
        padding-left: 4.4rem;
        background-image: url(/images/phone.svg);
    }
    &:hover{
        background-color: #fff;
        border: solid 1px var(--brand-secondary-400);
        box-shadow: 0 2px 0 0 var(--brand-secondary-400);
    }
    &:focus{
        background-color: #fff;
        outline: transparent;
        box-shadow:
            0 2px 0 0 var(--brand-secondary-400),
            0 0 0 2px var(--blue-300),
            0 2px 0 2px var(--blue-300);
        ;
    }
    &__error{
        border-color: var(--red-500);
        outline: solid 3px var(--red-300);
        box-shadow: none;
    }
}
textarea{
    border-radius: 12px;
    resize: vertical;
}
adress{
    @media screen and (width < variables.$small) {
        *:not(h5){
            margin-bottom: variables.spacing(2) !important;
        }
    }
}
form{
    @media screen and (width < variables.$small) {
        margin-top: variables.spacing(2);
    }
}