@use "../abstracts/index" as abstracts;

.modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50ch;
    border: none;
    padding: 3.2rem;
    box-shadow: 0 8px 32px -16px rgba(0 0 0 / .8);
    &::backdrop{
        background-color: rgba(0 0 0 / .4);
    }
}