@mixin link-svg($color){
    color: $color;
    svg{
        fill: $color;
    }
}

.link{
    @include link-svg((var(--blue-200)));
    &:hover{
        @include link-svg(var(--blue-100));
    }
    &:active{
        @include link-svg(var(--red-300));

    }
    &--footer{
        color: var(--brand-primary-300);
        &:hover{
            color: var(--brand-primary-100);
        }
    }
}
