@use "../abstracts/index" as abstracts;

$spacing: (
  auto: auto,
  0: 0,
  0_5: calc(abstracts.$base-unit * 0.5),
  1: calc(abstracts.$base-unit * 1),
  1_5: calc(abstracts.$base-unit * 1.5),
  2: calc(abstracts.$base-unit * 2),
  2_5: calc(abstracts.$base-unit * 2.5),
  3: calc(abstracts.$base-unit * 3),
  3_5: calc(abstracts.$base-unit * 3.5),
  4: calc(abstracts.$base-unit * 4),
  4_5: calc(abstracts.$base-unit * 4.5),
  5: calc(abstracts.$base-unit * 5),
  6: calc(abstracts.$base-unit * 6)
);

@function to-string($value) {
  @return unquote("#{ $value }");
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@each $key, $value in $spacing {
  $class-key: str-replace(to-string($key), "_", "-");

  // Margin classes
  .m-#{$class-key} {
    margin: #{$value};
  }
  .m-x-#{$class-key} {
    margin-inline: #{$value};
  }
  .m-y-#{$class-key} {
    margin-block: #{$value};
  }
  .m-t-#{$class-key} {
    margin-top: #{$value};
  }
  .m-r-#{$class-key} {
    margin-right: #{$value};
  }
  .m-b-#{$class-key} {
    margin-bottom: #{$value};
  }
  .m-l-#{$class-key} {
    margin-left: #{$value};
  }

  // Padding classes
  .p-#{$class-key} {
    padding: #{$value};
  }
  .p-x-#{$class-key} {
    padding-inline: #{$value};
  }
  .p-y-#{$class-key} {
    padding-block: #{$value};
  }
  .p-t-#{$class-key} {
    padding-top: #{$value};
  }
  .p-r-#{$class-key} {
    padding-right: #{$value};
  }
  .p-b-#{$class-key} {
    padding-bottom: #{$value};
  }
  .p-l-#{$class-key} {
    padding-left: #{$value};
  }

  // Gap classes
  .gap-#{$class-key} {
    gap: #{$value};
  }
  .gap-x-#{$class-key} {
    column-gap: #{$value};
  }
  .gap-y-#{$class-key} {
    row-gap: #{$value};
  }
}
