@use "../abstracts/index" as abstracts;


// Split between 2 sections
#about{
    background: linear-gradient(
        to top,
        var(--brand-primary-100) 0%,
        var(--brand-primary-100) 50%,
        var(--brand-primary-300) 50%,
        var(--brand-primary-300) 100%
    );
}
.about{
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 
        calc((100% - calc(abstracts.$base-unit * 4)) * 0.6)
        calc((100% - calc(abstracts.$base-unit * 4)) * 0.4);
    column-gap: calc(abstracts.$base-unit * 4);
    background-image:
        linear-gradient(
            to bottom, 
            var(--brand-third-400) 0%, 
            var(--brand-third-600) 100%
        )
    ;
    div{
        grid-area: 1/1/2/2;
        h3{
            font-size: 2.4rem;
        }
    }
    img{
        grid-area: 1/2/2/3;
        align-self: stretch;
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
        background-color: var(--brand-third-400);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-align: center;
    }
    p{
        grid-area: 1/2/4/3;
        align-self: flex-end;
    }
}