@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as variables;

// Split between 2 sections
#about{
    background: linear-gradient(
        to top,
        var(--brand-primary-100) 0%,
        var(--brand-primary-100) 50%,
        var(--brand-primary-300) 50%,
        var(--brand-primary-300) 100%
    );
}
.about{
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 0.6fr 0.4fr;
    column-gap: variables.spacing(4);
    background-image:
        linear-gradient(
            to bottom, 
            var(--brand-third-400) 0%, 
            var(--brand-third-600) 100%
        )
    ;
    div{
        grid-area: 1/1/2/2;
        h3{
            font-size: 2.4rem;
        }
    }
    img{
        grid-area: 1/2/2/3;
        align-self: stretch;
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
        background-color: var(--brand-third-400);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-align: center;
    }
    p{
        grid-area: 1/2/4/3;
        align-self: flex-end;
    }
    @media screen and (width < variables.$medium) {
        grid-column: full-width !important;
        @include mixins.flex(column, stretch, flex-start);
        padding: variables.spacing(6) variables.spacing(4);
        border-radius: unset;
        div{
            order: 2;
            padding: 0;
            h3{
                text-align: center;
            }
        }
        img{
            order: 1;
            width: clamp(120px, 40vw, 200px);
            margin-inline: auto;
            margin-bottom: variables.spacing(4);
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
    }
}