@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;


.grid{
    &--contacts{
        grid-template-columns: [adress-start] 1fr [adress-end form-start] 1fr [form-end];
        grid-template-rows: repeat(3, auto) 1fr;
        column-gap: variables.spacing(5);
        h3{
            grid-row: 1/2;
            grid-column: adress;
        }
        h4{
            grid-row: 2/3;
            grid-column: adress;
        }
        p{
            grid-row: 3/4;
            grid-column: adress;
        }
        adress{
            grid-column: adress;
            grid-row: 4/5;
            height: fit-content;
            a{
                color: var(--grey-700);
                &:not([href*="maps"]):hover{
                    color: var(--blue-600);
                }
                &:visited{
                    color: var(--grey-700);
                    &:hover{
                        color: var(--blue-600);
                    }
                }
            }
        }
        form{
            grid-column: form;
            grid-row: 1/5;
            textarea{
                height: 14vh;
                min-height: 136px;
            }
        }
        @media screen and (width < variables.$medium){
            @include mixins.flex(column, stretch, center);
        }
    }
}