@use "../abstracts/index" as abstracts;

.hero{
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(3, max-content) 56px 56px;
    column-gap: 4rem;
    row-gap: 3.2rem;
    &__titles{
        grid-area: 1/1/2/4;
        h2{
            white-space: nowrap;
            line-height: 1;
            font-weight: 500;
        }
    }
    p{
        grid-area: 2/1/3/2;
        max-width: 32ch;
    }
    .btn{
        grid-area: 3/1/4/2;
        height: fit-content;
        padding-block: 2rem;
        svg{
            width: 24px;
            height: auto;
        }
    }
    > img{
        grid-area: 4/1/6/2;
        width: 80%;

    }
    a:not(.btn){
        grid-area: 5/3/6/4;
        text-align: right;
    }
    &__images{
        grid-area: 2/2/5/4;
        > img{
            width: 56%;
        }
        > div{
            width: 44%;
            img{
                height: 33.3%;
                width: auto;
            }
        }
    }
    &__bg{
        @include abstracts.position(absolute, null, 0, -24%, null);
        z-index: -1;
        background: red;
        background-image: linear-gradient(
            to top, 
            var(--brand-primary-300) 0%,
            var(--brand-primary-100) 100%
        );
        @include abstracts.box(64%, auto);
        aspect-ratio: 1/1;
        border-radius: 999px;
        box-shadow: 
            0 0 0 1.6rem var(--brand-primary-300),
            0 0 0 1.7rem hsla(30 60% 90% / 64%),
            0 0 0 3.2rem var(--brand-primary-300),
            0 0 0 3.3rem hsla(30 60% 90% / 32%),
            0 0 0 1.6rem var(--brand-primary-300),
            0 0 0 3.3rem hsla(30 60% 90% / 8%)
        ;
    }
    img{
        aspect-ratio: 16/8; 
        border-radius: 1.6rem;
        object-fit: cover;
    }
}