@use "../abstracts/index" as abstracts;

#review{
    overflow: hidden;
    .review{
        @include abstracts.flex(row nowrap, stretch, flex-start);
        gap: 2.4rem;
        overflow: visible;
        &__item{
            --width: 360px;
            flex: 0 0 var(--width);
            @include abstracts.flex(column nowrap, flex-start, flex-start);
            gap: 1.6rem;
            padding: 2.4rem;
            border-radius: 1.6rem;
            font-family: "Solway", "Hanuman", 'Times New Roman', Times, serif;
            background-color: var(--brand-fourth-200);
            h5{
                font-size: 1.8rem;
                color: var(--brand-secondary-400);
            }
            p{
                display: -webkit-box; 
                font-family: 'Inter', 'Roboto', Arial, sans-serif;
                color: #fff;
                font-size: 1.4rem;
                font-weight: 400;
                -webkit-box-orient: vertical; 
                -webkit-line-clamp: 8; 
                overflow: hidden; 
                text-overflow: ellipsis; 
            }
            span{
                align-self: flex-end;
                color: var(--brand-third-100);
                text-align: right;
            }
        }
    }
}

// TEST 
#review{
    .scroller {
        &__inner{
            padding-block: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        &[data-animated="true"]{
            overflow: hidden;
            @include abstracts.prefix(
                mask-image, 
                linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 1) 20%,
                    rgba(0, 0, 0, 1) 80%,
                    rgba(0, 0, 0, 0)
                ),
                webkit ms
            );
            .scroller__inner{
                width: max-content;
                flex-wrap: nowrap;
                animation: scroll var(--_animation-duration, 40s)
                    var(--_animation-direction, forwards) linear infinite;
            }
        }
        &[data-direction="right"] {
            --_animation-direction: reverse;
        }
        &[data-direction="left"] {
            --_animation-direction: forwards;
        }
        &[data-speed="slow"] {
            --_animation-duration: 240s;
        }
    }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}